<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col s3">
            <img class="dropdown-trigger circle" href='javascript:void(0);' 
            data-target='demoDropdown' src="{{url}}" height={{size}} width={{size}} title="{{name}}">

            <ul id='demoDropdown' class='dropdown-content'>
              <li><a href="javascript:void(0);">Profile</a></li>
              <li><a href="javascript:void(0);">Sign Out</a></li>
          </ul>
        </div>
 </div>

  