   /* input field invalid color */
   .input-field input.ng-invalid {
    border-bottom: 1px solid #ff0000;
    box-shadow: 0 1px 0 0 #ff0000;
   }

    /* input field with icon as prefix invalid error text style */
   .input-field .error-text{
    opacity: 1;
    position: relative;
    top: -17px;
    left: 41.99px;
    color: red;
    font-size: 0.8em;
   }
   
    /* input field without icon as prefix invalid error text style */
   .input-field .error-text-wi{
    opacity: 1;
    position: relative;
    top: -17px;
    color: red;
    font-size: 0.8em;
   }
   

