<div>
   <button class="btn" (click)="addData()">Add user with ID 101</button>
   <app-user-login-avatar [userObj]="usersObj"></app-user-login-avatar>
</div>
<div>
    <h1>List of Users </h1>
    <div *ngIf=!isData>    <button class="btn" (click)="getData()">Get List</button> </div>
</div>

<div *ngIf=isData>
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>  
          <tr *ngFor="let user of userList">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
          </tr>
        </tbody>
      </table>
</div>

