
  mat-card {
    width: 300px;
    margin: 5% auto;
    border-radius: 8px;
  }
  mat-form-field {
    width: 80%;
    display: block;
    margin: auto;
  }
  mat-card-content {
    margin-top: 20px;
  }
  mat-card-subtitle {
    font-weight: bold;
    padding-top: 10%;
    margin-left: 10%;;
  }

  .logo {
    display: block;
    max-width: 60%;
    max-height: 50px;
    margin: 10px auto 30px;
  }
  
  .login-button {
    margin-top: 20px;
    display: block;
    width: 80%;
    margin: 20px auto;
  }
  .social-login-error {
    margin-top: 5px;
    font-size: smaller;
  }
  .login-error {
    padding-left: 10%;
    font-size: smaller;
  }

  .footer {
    margin-top: 15%;
    padding-bottom: 20px;
    text-align: center;
  }